* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(green, blue, cyan, white );
}
form {
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px white;
}
form .title {
    color: black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}
form label {
    margin-bottom: 30px;
}
form label .fa-solid {
    font-size: 20px;
    color: lightcoral;
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: black;
    border-bottom: solid 1px red;
    padding: 0 5px;
    font-size: 18px;
}
form label input::placeholder {
    color: black;
}
form .link {
    color: black;
    margin-bottom: 15px;

}
form button {
    color: aliceblue;
    border: none;
    background: linear-gradient( red, orange);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

